body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid{
    padding: 0;
}

.scroll-hide {overflow: hidden; }
html {scroll-behavior: smooth;}

/*------------------------style-------------------------*/

li{
    list-style: none;
    padding-left: 0;
}

ul{
    padding-left: 0;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4{
    margin: 0;
    line-height: 1;
}

a{
    text-decoration: none;
}


h2{
    color: #171717;
    font-weight: 400;
    font-size: clamp(39px, 6.5vw, 52px);
    letter-spacing: 2px;
    margin-bottom: 30px;
    line-height: 63px;
}

h3{
    color: #171717;
    font-size: 21px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 2.08px;
}

p{
    color: #222222;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    margin: 0;
}

.tittle p{
    color: #222222;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.block-btns{
    gap: 15px;
    margin-top: 72px;
}

.block-btns-content{
    margin-top: 50px;
    gap: 15px;
}

a.btn-call {
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #961A1A;
    padding: 17px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.8px;
    font-size: 15px;
    text-transform: uppercase;
}

a.btn-book {
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    color: #ffffff;
    font-weight: 500;
    border:  1px solid #ffffff;
    letter-spacing: 1.8px;
    font-size: 15px;
    text-transform: uppercase;
}

/*------------------------menu-----------------------*/
.nav-icon {
    display: none;
    margin: 0;
    width: 30px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
    background-color: rgb(141, 141, 141);
    border-radius: 3px;
    content: "";
    display: block;
    height: 2px;
    margin: 8px 0;
    transition: all 0.3s ease-in-out;
}

.nav-icon.closed:before {
    transform: translateY(4px) translateX(-6px) rotate(130deg);
    width: 18px;
}

.nav-icon.closed:after {
    transform: translateY(-4px) translateX(-6px) rotate(-130deg);
    width: 18px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu li a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: #E7E7E7;
    padding: 0;
    text-transform: uppercase;
}

.nav-menu li a:hover{
    color: #979797;
}

.nav-menu {
    display: flex;
    gap: 30px;
    margin: 0;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-nav-container{
    width: 100%;
    background-color: #0B0B0B;
    top: -150px;
    transition: top 1s;
    z-index: 10000;
}

.header-nav-container.fixed{
    position: fixed;
    width: 100%;
    background-color: #0B0B0B;
    top: 0;
}



/*------------------------hero------------------------*/

.hero{
    max-width: 100%;
    padding: 95px 0 120px 0;
    background: url('../image/header-bg.png') no-repeat center top / cover;
}

.hero a{
    display: flex;
    justify-content: center;
}

.general-header-tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-tittle{
    margin-top: 80px;
    text-align: center;
    max-width: 65%;
}

h1{
    color: #ffffff;
    font-size: clamp(48px, 7vw, 63px);
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 3.4px;
    margin-bottom: 50px;
}

.header-tittle span{
    font-size: 16px;
    letter-spacing: 2px;
    color: #353A3F;
    font-weight: 700;
    line-height: 31px;
    background: #D7DCE2;
    width: auto;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline;
    box-shadow: -10px solid #D7DCE2, 10px solid #D7DCE2;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/*----------------------progress------------------*/

.item-luxury-support{
    padding: 45px 0;
    background-color: #0B0B0B;
}

.list-progress li{
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 2px;
    color: #C0C0C0;
    margin-left: 10px;
    line-height: 1;
}

.list-progress{
    margin-bottom: 7px;
}

.item-progress span{
    color: #747474;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.7px;
}



/*-------------------------appliance----------------------*/

.appliances{
    padding: 100px 0;
}

.tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}


.tittle p{
    width: 70%;
}

.pic-appliance{
    position: relative;
    text-align: center;
    max-width: 100%;
    height: 250px;
    background: url('../image/pic-refr.jpg') no-repeat center top / cover;
}
.sect-2{
    background: url('../image/pic-maintance.jpg') no-repeat center top / cover;
}

.sect-3{
    background: url('../image/pic-freezer.jpg') no-repeat center top / cover;
}

.sect-4{
    background: url('../image/pic-WC.jpg') no-repeat center top / cover;
}

.sect-5{
    background: url('../image/pic-appliance-repair.jpg') no-repeat center top / cover;
}

.sect-6{
    background: url('../image/piice-machine.jpg') no-repeat center top / cover;
}

.item-appliance{
    max-width: 100%;
}


.pic-appliance span{
    position: relative;
    bottom: -142px;
    font-size: 21px;
    letter-spacing: 1.2px;
    color: #ffffff;
    font-weight: 400;
    line-height: 38px;
    background: #0B0B0B;
    width: auto;
    padding: 12px 18px;
    display: inline;
    box-shadow: -12px solid #0B0B0B, 12px solid #0B0B0B;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

ul.list-appliance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
}

ul.list-appliance li{
    font-size: 16px;
    font-weight: 600;
    color: #222222;
    letter-spacing: 1.2px;
}

/*-----------------------luxury-specialist----------------------*/

.pic-specialist{
    max-width: 100%;
    height: 500px;
    background: url('../image/pic-luxury-a-s.jpg') no-repeat center top / cover;
}


.describe-previlegy, .describe-previlegy-parts{
    padding: 70px 0;
    background: #F3F5F6;
    align-items: center;
}


.general-container-privilegy{
    width: 70%;
}

/*-----------------------parts----------------------*/

.pic-parts{
    max-width: 100%;
    height: 500px;
    background: url('../image/pic-factory-certified.jpg') no-repeat center top / cover;
}

/*-----------------------customer-guaranteed----------------------*/

.pic-customer-guaranteed{
    max-width: 100%;
    height: 500px;
    background: url('../image/pic-customer-s-g.jpg') no-repeat center top / cover;
}

/*--------------------------------reviews----------------------*/

.reviews{
    padding: 100px 0;
}


.item-review{
    background: #F3F5F6;
    padding: 60px 50px;
}

.item-problem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px 0;
}

.raitings{
    margin-top: 12px;
    display: flex;
    gap: 5px;
}

.raitings i::before{
    content: '\f005';
    font-weight: 900;
    font-family: 'FontAwesome';
    color: #EDB118;
    font-size: 18px;
}

.item-problem span{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    color: #222222;
}

.item-review p{ 
    text-align: center;
    margin-bottom: 23px;
}

.item-review span:nth-last-child(1){ 
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

/*-----------------------promo---------------------*/

.promo{
    padding: 70px 0;
    background: url('../image/bg-flexible-sistem-discount.jpg') no-repeat center top / cover;
}

.general-promo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.describe-promo{
    max-width: 70%;
    padding: 75px 60px;
    background: #0B0B0B;
    text-align: center;
}

.describe-promo h2{
    color: #F1F1F1;
}

.describe-promo p{
    color: #C9C9C9;
    font-weight: 400;
    letter-spacing: 1.2px;
}


/*---------------------mobile-block-stick-----------------*/

a.btn-book-mob {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    color: #171717;
    font-weight: 600;
    border:  1px solid #171717;
    letter-spacing: 1.8px;
    font-size: 15px;
    text-transform: uppercase;
}

.stick-block-phone{
    display: none;
}


/*----------------------footer---------------------*/

.footer{
    max-width: 100%;
    padding: 40px 0;
    background-color: #0B0B0B;
}

.general-text-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general-text-footer span{
    color: #757575;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

/*------------------------about us--------------------*/

.breadcrumb{
    margin-bottom: 0;
    padding: 45px 0;
}

.breadcrumb li a{
    color: #961A1A;
    font-weight: 700;
}

.breadcrumb-item i{
    color: #961A1A;
    margin-right: 10px;
}

.pic-descriptiom{
    max-width: 100%;
    max-height: 640px;
}

.general-about-description{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    gap: 90px;
}

.content-description-about{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
}

a.btn-book-inner{
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    color: #171717;
    font-weight: 500;
    border: 1px solid #171717;
    letter-spacing: 1.8px;
    font-size: 15px;
    text-transform: uppercase;
}

.block-btns-inner{
    gap: 15px;
    padding-top: 40px;
}

.pic-descriptiom{
    height: 640px;
    background: url('../image/about-pic.png') no-repeat center top / cover;
}

.description-us{
    padding-bottom: 130px;
}

.previlegy{
    padding-bottom: 120px;
}


.item-priv{
    background-color: #F3F5F6;
    padding: 60px  40px;
}

.general-priv{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

}

.item-priv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 100%;
}

.tittle-priv{
    margin-bottom: 20px;
}

.icon-priv{
    margin-bottom: 30px;
}


.item-priv::before{
    content: " ";
    background-color: #961A1A;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*--------------------support------------*/

.general-support-block{
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.support-24{
    padding: 100px 0;
    background-color: #F6F6F6;
}

.tittle-support span{
    color: #171717;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 2.08px;
    margin-bottom: 30px;
}

/*----------------------services---------------*/

.services{
    background-color: #0B0B0B;
    padding: 100px 0;
}

.tittle-services h2{
    color: #DFDFDF;
}

.tittle-services p{
    color: rgb(134, 134, 134);
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 1.2px;
}
.tittle-services{
    text-align: center;
}

.item-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pic-services img{
    max-width: 100%;
}

.pic-services{
    margin-bottom: 25px;
}

.item-services h3{
    color: #DFDFDF;
}

/*------------------------details services---------------*/

.service-block{
    padding-top: 100px;
}


.description-services-block{
    padding: 0 25px;
}

.description-services-block h3{
    margin-bottom: 15px;
    font-weight: 600;
}

.pic-details{
    margin-bottom: 30px;
}


.resume-services p{
    margin-top: 35px;
}

.pic-details img{
    width: 100%;
}
.resume-services img{
    width: 100%;
}

/*------------------------contacts--------------------*/

.pic-contact{
    background: url('../image/contacts.png') no-repeat center top / cover;
    height: 435px;
}

.content-contact{
    margin-top: 40px;
}

.info{
    background-color: #FAFAFA;
    padding: 30px;
}

.tittle-info{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.tittle-info h3{
    font-weight: 800;
}

.info-ccontact-description ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.info-ccontact-description ul li a{
    font-weight: 600;
    color: #961A1A;
}

.block-schedule h3{
    font-weight: 700;
}

.tittle-form-block h2{
    font-size: 38px;
    margin-bottom: 25px;
}

.block-schedule span{
    font-size: 24px;
    font-weight: 600;
}

.block-schedule p{
    margin-top: 12px;
}

.block-form{
    padding: 45px 0 70px 0;
}

.block-schedule{
    margin-top: 20px;
}

/*-----------------form--------------*/

.contacts-form input {
    padding: 18px 25px;
    border-radius: 0;
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.contacts-form textarea{
    padding: 18px 25px;
    border-radius: 0;
    border: none;
    background-color: #f5f5f5;
}

.btn-send-info{
    margin-top: 20px;
}

a.btn-send-info{
    width: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #961A1A;
    padding: 17px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.8px;
    font-size: 15px;
    text-transform: uppercase;
}

.form-control:focus {
    box-shadow: none!important;
    border: none !important;
    background-color: #fafafa;
}

.block-schedule a{
    font-weight: 700;
    color: #961A1A;
}

/*------------------------media--------------------*/

@media screen and (max-device-width: 1440px) and (min-device-width: 1270px){
    .general-about-description{
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        gap: 50px;
    }
}

@media screen and (max-device-width: 1269px) and (min-device-width: 360px){
    .pic-descriptiom{
        max-width: 100%;
        height: 640px;
    }
    .general-about-description{
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        gap: 50px;
    }
}

@media screen and (max-device-width: 1226px) and (min-device-width: 1025px){
    .general-container-privilegy{
        width: 90%;
    }
    .describe-previlegy, .describe-previlegy-parts {
        padding: 70px 20px;
        align-items: center;
    }
    .stick-block-phone{
        display: none;
    }
    .content-description-about{
        width: 100%;
    }

    .general-about-description{
        gap: 50px;
    }
    
}


@media screen and (max-device-width: 1024px) and (min-device-width: 992px){


    .general-container-privilegy{
        width: 100%;
    }

    .describe-previlegy, .describe-previlegy-parts {
        padding: 70px 40px;
        align-items: center;
    }

    .pic-specialist, .pic-customer-guaranteed, .pic-parts{
        height: 500px;
    }

    .stick-block-phone{
        display: none;
    }

    .general-about-description{
        grid-template-columns: 1fr;
    }
    
}


@media screen and (max-device-width: 991px) and (min-device-width: 768px){

    .describe-previlegy-parts{
        order: 1;
    }
    .pic-parts{
        order: 0;
    }

    .general-container-privilegy{
        width: 100%;
    }

    .describe-previlegy, .describe-previlegy-parts {
        padding: 70px 40px;
        align-items: center;
        text-align: center;
    }

    .pic-specialist, .pic-customer-guaranteed, .pic-parts{
        height: 400px;
    }
    .stick-block-phone{
        display: none;
    }
    
}

@media screen and (max-device-width: 1024px) and (min-device-width: 360px){
    .nav-icon{
        display: block;
    }

    .general-priv{
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .content-description-about{
        padding: 0 20px;
        width: 100%;
    }

    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1000;
        width: 100%;
    }

    .btn-head-mob{
        display: block;
    }

    .nav-menu{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #0B0B0B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -100%;
        left: 0;
        opacity: 0.9;
        transition: all 0.4s ease-in-out;
        opacity:0;
    }

    .nav-menu li a {
        font-size: 16px;
        letter-spacing: 0.7px;
        font-weight: 500;
        color: #a3a3a3;
    }
    .nav-menu li a:hover{
        color: #646464;
    }

    .nav-menu{
        gap: 45px;
    }
    .active{
        top: 0;
        z-index: 999;
        transition: 0,2s ease ;
        transition: top 1,5s;
        opacity: 100;

    }
    .general-support-block {
        grid-template-columns: 1fr;
        gap: 35px;
    }
}


@media screen and (max-device-width: 1024px) and (min-device-width: 768px){


    .header-tittle {
        margin-top: 50px;
        text-align: center;
        max-width: 80%;
    }

    .stick-block-phone{
        display: none;
    }


    .general-container-privilegy h2{
        line-height: 57px;
    }

    .general-container-privilegy{
        width: 100%;
    }

    .describe-previlegy, .describe-previlegy-parts {
        padding: 70px 40px;
        align-items: center;
    }


    .pic-appliance span {
        font-size: 23px;
        line-height: 40px;
    }
    
    .tittle p{
        width: 80%;
    }
    
    .item-progress{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contacts-info{
        text-align: center;
    }

    .block-btns-content{
        justify-content: center;
    }

    .contacts-pic img{
        display: none;
    }

    .description-us {
        padding-bottom: 90px;
    }

    .previlegy {
        padding-bottom: 90px;
    }

    .support-24 {
        padding: 80px 0;
    }

    .services {
        background-color: #0B0B0B;
        padding: 85px 0;
    }

    .service-block {
        padding-top: 80px;
    }

    .reviews {
        padding: 80px 0;
    }

    .pic-descriptiom{
        height: 400px;
    }

}



@media screen and (max-device-width: 767px) and (min-device-width: 360px){

    .header {
        max-width: 100%;
    }

    .list-progress li{
        font-weight: 400;
        font-size: 30px;
    }
    
    .list-progress{
        margin-bottom: 10px;
    }
    
    h1{
        line-height: 60px;
        margin-bottom: 30px;
    }

    .header-tittle{
        margin-top: 60px;
        max-width: 100%;
    }

    .block-btns{
        flex-direction: column;
        margin-top: 60px;
        width: 100%;
    }

    a.btn-call, a.btn-book{
        width: 100%;
    }

    .describe-previlegy-parts{
        order: 1;
    }
    .pic-parts{
        order: 0;
    }

    .describe-previlegy, .describe-previlegy-parts {
        padding: 70px 20px;
        align-items: center;
        text-align: center;
    }
    
    h2{
        line-height: 50px;
        margin-bottom: 20px;
    }

    .describe-promo {
        max-width: 90%;
        padding: 60px 40px;
    }

    .general-container-privilegy{
        width: 100%;
    }

    .describe-previlegy, .describe-previlegy-parts {
        padding: 70px 40px;
        align-items: center;
    }

    .pic-specialist, .pic-customer-guaranteed, .pic-parts{
        height: 300px;
    }

    .pic-appliance span {
        font-size: 20px;
        line-height: 40px;
    }
    
    .tittle p{
        width: 100%;
    }

    .contacts-info{
        text-align: center;
    }

    .block-btns-content{
        justify-content: center;
        flex-direction: column;
    }

    a.btn-call, a.btn-book-content{
        width: 100%;
    }

    .contacts-pic img{
        display: block;
    }

    .contacts-pic{
        margin-top: 60px;
    }

    .general-text-footer{
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .stick-block-phone{
        z-index: 9999;
        display: flex;
        flex-direction: column;
        background: #F3F5F6;
        gap: 15px;
    } 

    .block-btns-inner{
        flex-direction: column;
    }
    .block-btns-inner a{
        width: 100%;
    }

    .general-about-description{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 50px;
    }

    .pic-descriptiom{
        height: 400px;
    }

    .description-us {
        padding-bottom: 80px;
    }

    .previlegy {
        padding-bottom: 80px;
    }

    .support-24 {
        padding: 70px 0;
    }

    .services {
        padding: 80px 0;
    }

    .service-block {
        padding-top: 80px;
    }

    .reviews {
        padding: 80px 0 90px 0;
    }

}


@media screen and (max-device-width: 575px) and (min-device-width: 360px){

    .pic-appliance span {
        font-size: 22px;
        line-height: 40px;
        bottom: -200px
    }

    .pic-appliance{
        height: 320px;
    }

    .header-tittle{
        margin-top: 50px;
        max-width: 100%;
    }

    .header {
        max-width: 100%;
    }

}


@media screen and (max-device-width: 455px) and (min-device-width: 360px){
 
    h1{
        line-height: 58px;
        margin-bottom: 37px;
    }

}

